@model IEnumerable<OSL.Inventory.B2.Service.DTOs.PurchaseDto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseAmountPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountPaidTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseAmountPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountPaidTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
