@model OSL.Inventory.B2.Service.DTOs.SaleDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SaleDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleAmountPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleAmountPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountPaidTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountPaidTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionLinkHtml)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionLinkHtml)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusHtml)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusHtml)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
